{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" href="{% static 'map.css'%}">
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var location;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            location = position.coords
          });
        }
        var myLatLng = {lat: -25.363, lng: 131.044};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 4
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF8PoyP2-AwE13ONO7qwz6wXeUGTnmD28&callback=initMap"
        async defer></script>


        <div class="container">
          <div class="row">
            <div class="col m3 s6">
              <div class="card">
                <div class="card-content">
                      <h5>Total Cost: ${{total_cost| intcomma}}</h5>
                </div>
              </div>
            </div>
            <div class="col m9 s6">
              <div class="col s6">
                <div class="card">
                  <div class="card-content">
                    {% for turbine in turbine_range %}
                      <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/2076-200.png" alt="">
                    {%endfor %}
                    <br><br>
                    1 <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/2076-200.png" alt=""> = {{turbine_factor}} 100kW Turbine
                  </div>
                </div>
              </div>
              <div class="col s6">
                <div class="card">
                  <div class="card-content">
                    {% for panel in solar_range %}
                      <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/122071-200.png" alt="">
                    {%endfor %}
                    <br><br>
                    1 <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/122071-200.png" alt=""> = {{solar_factor}} .255W Panels
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </body>
</html>
