{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" href="{% static 'map.css'%}">
    <script src="{% static 'cities.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <div id="map"></div>
    <script>

    var turbine_src = "https://d30y9cdsu7xlg0.cloudfront.net/png/2076-200.png";
    var panel_src = "https://d30y9cdsu7xlg0.cloudfront.net/png/122071-200.png";




      function updateUi(total_cost, turbine_count, turbine_factor, panel_count, panel_factor) {
        //clear old images
        $("#turbine_pic_container").empty();
        $("#solar_pic_container").empty();
        $("#total_cost").text(new Intl.NumberFormat().format(total_cost) + "");

        $("#turbine_count").text(Math.round(turbine_count) + "");
        $("#turbine_factor").text(turbine_factor + "");
        var turbine_iters = turbine_count/turbine_factor;
        for (var i = 0; i< turbine_iters; i++) {
          img_literal = `<img style="max-width:15%;" src="`+turbine_src+`" alt="">`;
          $("#turbine_pic_container").append(img_literal);


        }

        $("#panel_count").text(Math.round(panel_count) + "");
        console.log(panel_factor);
        $("#panel_factor").text(panel_factor + "");
        var panel_iters = panel_count/panel_factor;
        for (var i = 0; i< panel_iters; i++) {
          img_literal = `<img style="max-width:15%;" src="`+panel_src+`" alt="">`;
          $("#solar_pic_container").append(img_literal);
        }
      }

      function initMap() {
        var infowindow = new google.maps.InfoWindow();

        var location;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            location = position.coords;
            var myLatLng = {lat: location.latitude, lng: location.longitude};
          });
        } else {

        }
        var myLatLng = {lat: 42.6418940, lng: -71.3335640};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 7
        });

        // Create a marker and set its position.
    function placeMarker( city ) {
        var latLng = new google.maps.LatLng( cities[city].lat, cities[city].long);
        var marker = new google.maps.Marker({
          position : latLng,
          map      : map
        });

        var contentString = `
            <div class="content">
              <h1>`+city+`</h1>
              <div class="progress" id='city_spinner'>
                  <div class="indeterminate"></div>
              </div>
            </div>
        `
        google.maps.event.addListener(marker, 'click', function(){
            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent( "<div id='infowindow'>"+ contentString +"</div>");
            infowindow.open(map, marker);

            $.get(window.location.href+"panels_and_turbines/", {city: city,
                                                                state: cities[city]["state"],
                                                                sun_year_hours: cities[city]["sun_year_hours"],
                                                                wind_year_hours: cities[city]["wind_year_hours"]
          }, function(data) {
              console.log(data);
              updateUi(
                      data["total_cost"],
                      data["num_turbines"],
                      data["turbine_factor"],
                      data["num_panels"],
                      data["solar_factor"]
                    );
              $(".progress").toggle();

              $('html, body').animate({ scrollTop: $($("#site_explainer")).offset().top - 40}, 500, 'linear');

            });



        });
      } //end placeMarker

      for(var city in cities) {
        placeMarker(city)
      }



    }

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF8PoyP2-AwE13ONO7qwz6wXeUGTnmD28&callback=initMap"
        async defer></script>


        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <h5 id="site_explainer">Approximate the cost for your city to operate soley on clean energy.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m3 s6">
              <div class="card">
                <div class="card-content">
                      <h5>Total Cost: $<span id="total_cost"></span></h5>
                </div>
              </div>
            </div>
            <div class="col m9 s6">
              <div class="col s6">
                <div class="card">
                  <div class="card-content">
                    <span id='turbine_count'></span> Turbines
                    <div id="turbine_pic_container">

                    </div>
                      <!-- <img style="max-width:15%;" src="" alt=""> -->

                    <br><br>
                    <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/2076-200.png" alt=""> = <strong><span id="turbine_factor"></span></strong>, 3MW Turbines
                  </div>
                </div>
              </div>
              <div class="col s6">
                <div class="card">
                  <div class="card-content">
                    <span id='panel_count'></span> Panels
                    <div id="solar_pic_container">

                    </div>
                    <br><br>
                    <img style="max-width:15%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/122071-200.png" alt=""> = <strong><span id="panel_factor"></span></strong>, .255W Panels
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </body>
</html>
